{% extends 'back/base_back.html.twig' %}

{% block title %}Nouveau chien{% endblock %}

{% block body %}
    <h1>Création d'un nouveau chien</h1>

    {{ include('back/dog/_form.html.twig') }}

    <a class="btn btn-warning float-end" href="{{ path('app_back_member_index') }}">Retour à la liste</a>
{% endblock %}
