label {
    position: relative;
    width: 100%;
  }
  
  label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    color: #65482E;
    transition: all 0.2s;
  }

  label .password-icon:hover {
    cursor: pointer;
    color: #65482E;
  }
  
  label .password-icon .feather-eye-off {
    display: none;
  }

