{% extends 'back/base_back.html.twig' %}

{% block title %}Backoffice O'Poils{% endblock %}

{% block body %}

<center><p><img src="{{ app.request.getBaseURL() }}/pictures/logo.png" width="150px"></p><br>

    <h1>Bienvenue sur le backoffice de O'Poils</h1>
    
    <h2>Veuillez vous connecter</h2><br>

    <a href="{{ path('app_login') }}" class="btn btn-danger me-2">Connexion</a></center>

{% endblock %}